<!DOCTYPE html>
<html ng-app="">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>

<body>
글쓰기-페이지레이아웃<br>


<form action="/form"  ENCTYPE="multipart/form-data" method="get" name="wibble">
글번호(자동기입/수정불가) :<input type ="text" name="boardNumber" ng-model="boardNumber"><br>
작성일(자동입력/수정불가) :<input type ="text" name="boardDate" ng-model="boardDate"><br>
<br>
이름 / 아이디 (자동입력/수정불가) :<input type ="text" ng-model="boardName"><input type ="text" ng-model="boardID"><br>
분류(학생/선생님/기업):<input type ="text" ng-model="boardCategory"><br>
메시지신규입력:<input type ="text" ng-model="boardMessage"><br>
<br>
<button type="submit" ng-model="boardButtonOk">확인</button> <button ng-model="boardButtonCancel">취소</button><br>
</form>

<p> 한글 테스트 </p>
<!-- <form action="/form" ENCTYPE="multipart/form-data" method="get" name="wibble"> -->
<!--     foo:<input type="text" name="foo"/><br> -->
<!--     bar:<input type="text" name="bar"/><br> -->
<!--     quux:<input type="text" name="quux"/><br> -->
<!--     <input type="submit"/> -->
<!-- </form> -->
<div>
 <p> angularJS : 1*2 = {{1*2}}</p>
</div>



<div class="container">

<button class="btn btn-success" ng-click="editUser('new')">
  <span class="glyphicon glyphicon-user"></span> Create New User
</button>

</div>


</body>

</html>
