<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
</head>

<body>
<p> 한글 테스트 </p><br>
글수정-페이지레이아웃<br>
글번호(자동기입/수정불가)<input type ="text" ng-model="boardNumber"><br>
작성일(자동입력/수정불가)<input type ="text" ng-model="boardDate"><br>
<br>
이름 / 아이디 (자동입력/수정불가)<input type ="text" ng-model="boardName"><input type ="text" ng-model="boardId"><br>
분류(학생,선생님,기업/수정선택가능)<input type ="text" ng-model="boardCategory"><br>
메시지수정입력<input type ="text" ng-model="boardMessage"><br>

<button>수정하기</button>
<br>
</body>

</html>
